
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');


html{
  background-color:#FFEDCB;
}

h6, input,form{
  font-size: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h6{
  font-family: 'Harmattan', sans-serif;
  padding-top: 10%;
}
h4{
    font-size: 2em;
    justify-content:center;
    text-align:center;
}

.svg{

  

}

h4{
  font-family: 'Harmattan', sans-serif;
}

input{
  font-size: 1em;
  width: 70%;
  border-radius: 20px;
  border: none;
background-color: #FFEDCB;

}

textarea:focus, input:focus{
  outline: none;
}

.formInside{
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 2px solid black;
}

#wrapper {
    white-space: nowrap;
    /* Optional overflow-x:hidden */
}

    #wrapper div {
        display: inline-block;
        height: 500px;
        margin-left: 4%;
        width: 500px;
        background: #F1C1A2;
    }
